body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e9eff1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

#chat-container {
    width: 70%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
}

#chat-messages {
    padding: 10px;
    overflow-y: auto;
    max-height: 70vh;
}

#chat-input-area {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ddd;
}

#chat-message-input {
    flex-grow: 1;
    padding: 10px 15px;
    border: 2px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

#chat-message-input:focus {
    border-color: #7da2a9;
    outline: none;
}

#chat-message-submit {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

#chat-message-submit:hover {
    background-color: #4cae4c;
}

.sent {
    color: black; 
}

.replies {
    color: darkred; 
}
.author {
    font-weight: bold;
    margin-right: 5px;
}





body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#room-entry {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#room-name-input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s;
}

#room-name-input:focus {
    border-color: #7da2a9;
    outline: none;
}

#room-name-submit {
    background-color: #7da2a9;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#room-name-submit:hover {
    background-color: #65908a;
}